{% extends '::layout.html.twig' %}

{% block body -%}
 <h1>Clients BEH <small>Les Biens d'Equipements Hôteliers</small></h1>
 <ol class="breadcrumb">
              <li><a href="{{ path('commercial_client') }}"><i class="icon-dashboard"></i> Clients</a></li>
              <li class="active"><i class="icon-file-alt"></i> Gestion des clients BEH</li>
            </ol>
          </div>
        </div><!-- /.row -->

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_client_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_client_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_client_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_client_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
